{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    ["next/babel", {
      "preset-react": {
        "runtime": "automatic",
        "importSource": "react"
      }
    }]
  ]
} 